body{
	color: white;
}

header{
	color:#646362;
}

footer{
	background-color: #1980B9;
}

/*Seccion de encabezado*/

.encabezado-menu{
	background-color: #1980B9;
}

.encabezado-logotipo{
	height: 85px;
	margin: .5em 0;
}

.items-menu>a{
	text-transform: uppercase;
	color:white;
}

.items-menu>a:hover{
	color:#F2E62D;
	text-decoration: underline;
}

.orbit{
	height: 333px;
}

.orbit-container{
	height: 100% !important;
}
/* Fin de Seccion de encabezado */

.cuadro-sep, .seccion_opciones{
	background-color: #EEEEEE;
}

.seccion_opciones{
	color:#082D43;
}

.titulo-prinical{
	color: #1A80B9;
	width: 70%;
	margin: 0 auto;
}

.titulo-prinical>strong{
	color: #082D43;
	text-transform: uppercase;
	display: block;
}

.slogan-principal{
	color:#636362;
	width: 70%;
	margin: 0 auto 3em auto;
}

.slogan-secundario{
	color:#082D43;
}

.iconos{
	width: 120px;
}

.seccion_iconos{
	background-color: #0C2D43;
	height: 150px;
}

.seccion_iconos>div{
	position: relative;
}

.seccion_iconos>div>img{
	position: absolute;
	top:-170px;
}

.imagen-barco{
	width: 100%;
	height: 250px;
}