@import url('https://fonts.googleapis.com/css?family=Exo+2:400:700');

body{
	color: white;
	font-family: 'Exo 2', sans-serif !important;
}

header{
	color:#646362;
}

footer>div{
	background-color: #1980B9;
	color:white;
}

.primary{
	background-color: #1980B9;
}

.alert{
	background-color: #F64D43;
}

.titulo-prinical,.slogan-principal,.slogan-secundario{
	font-family: 'Exo 2', sans-serif !important;
}

.fondo-grisClaro{
	background-color: #EAEAEA;
}

/*Seccion de encabezado*/

.encabezado-menu{
	background-color: #1980B9;
}

.encabezado-logotipo{
	height: 85px;
	margin: .5em 0;
}

.encabezado-direccion{
	font-size: .8em;
	margin: 1em 0;
}

.encabezado-telefono, .encabezado-correo, .encabezado-facebook{
	margin: 1em .5em;
	color:#0A2236;
}

.encabezado-correo>a{
	color:#0A2236;
}

.items-menu>a{
	text-transform: uppercase;
	color:white;
}

.active,.items-menu>a:hover,.encabezado-correo>a:hover{
	color:#F2E62D;
	text-decoration: underline;
}

.orbit{
	height: 333px;
}

.orbit-container{
	height: 100% !important;
}
/* Fin de Seccion de encabezado */

.cuadro-sep, .seccion_opciones{
	background-color: #EEEEEE;
}

.seccion_opciones{
	color:#082D43;
}

.seccion_opciones-parrafo{
	display: inline-block;
	width: 35%;
}

.titulo-prinical{
	color: #1A80B9;
	width: 70%;
	margin: 0 auto;
}

.titulo-prinical>strong{
	color: #082D43;
	text-transform: uppercase;
	display: block;
}

.slogan-principal{
	color:#636362;
	width: 70%;
	margin: 0 auto 3em auto;
}

.slogan-secundario{
	color:#082D43;
}

.iconos{
	width: 120px;
}

.seccion_iconos{
	background-color: #0C2D43;
	height: 150px;
}

.seccion_iconos>div{
	position: relative;
}

.seccion_iconos>div>img{
	position: absolute;
	top:-135px;
}

.secc_iconos-parrafo{
	display: inline-block;
	font-size: 1.2em;
	width: 40%;
}

.imagen-barco{
	width: 100%;
	height: 250px;
}

.enlaces-logo{
	width: 100px;
	margin-left: 2em;
}

.piepagina{
	padding-bottom: 1em;
}

.piepagina-direccion{
	margin-top: 2em;
	margin-left: 2em;
	font-size: .9em;
	width: 65%;
}
.piepagina>.columns>.fi-mobile:before,.piepagina>.columns>.fi-mail:before,.piepagina>.columns>.fi-social-facebook:before{
	color:white;
	border-color: white;
	margin-left: .4em;
}

.piepagina-telefono{
	margin-left: 1em;
}

.piepagina-email>a{
	color:white;
	margin-left: 1em;
}
.piepagina-face{
	color: white;
}

.fi-mobile:before, .fi-mail:before, .fi-social-facebook:before, .fi-plus:before{
	font-size: 1.2em;
	color:#1980B9;
	border: 2px solid #1980B9;
	border-radius: 50%;
	padding: .3em;
}

.fi-mobile:before{
	font-size: 1.4em;
	padding: .1em .3em;
	margin-top: .5em;
}

/*Estilos de seccion de ISELAC*/

.SliderIselac{
	width: 100%;
	height: 300px;
}

.titulo-iselac{
	color:#1970BC;
	margin-bottom: 3em;
}

.titulo-segundo-iselac{
	color:#1970BC;
	margin: 1em 0;
}

.seccion_iconos-iselac{
	background-color: #0C2D43;
	height: 350px;
}

.seccion_iconos-iselac>div{
	position: relative;
}

.seccion_iconos-iselac>div>img{
	position: absolute;
	top:-150px;
}

.beneficios-iselac-letreros{
	color:#1970BC;
}
/* Fin Estilos de seccion de ISELAC*/

/*Estilos de la seccion de Oferta Academica*/

.oferta-titulo{
	color:#1970BC;
}

.seccion_prepa,.seccion_carrera{
	color:#50504F;
	margin-top:2em;
	margin-bottom: 2em;
}

/*Fin Estilos de la seccion de Oferta Academica*/

/*Estilos de la seccion de requicitos*/

.seccion_requicitos{
	color:#50504F;
}

.fi-info:before{
	font-size: 3em;
}

/*Fin de Estilos de la seccion de requicitos*/

/*Estilos de la seccion de Ingreso*/

.ingreso-icono-importante, .ingreso-importante{
	display: inline-block;
}

.ingreso-icono-importante{
	margin: auto 2em;
}

.ingreso-importante{
	width: 70%;
	margin-top: 2em;
}

.accordion-title{
	font-size: 1.5rem;
}

/*Fin Estilos de la seccion de Ingreso*/

/*Estilos de seccion de Estudiantes*/

.estudiantes-biblioteca,.estudiantes-cursos{
	height: 300px;
}

.estudiantes-biblioteca{
	background-color: #0C2334;
}

.estudiantes-cursos{
	background-color: #6F6F6E;
}

.estudiantes-formularios{
	color:#54514F;
}

/*Fin de la Estilos de seccion de Estudiantes*/
